<h1>New Showpiece</h1>
<form>
    <fieldset>
        <legend></legend>
        <label>
            Name:
            <input type="text" name="name" />
        </label>
        <label>
            Author:
            <input type="text" name="author" />
        </label>
        <label>
            Area:
            <input type="text" name="area" />
        </label>
        <label>
            Position:
            <input type="text" name="position" />
        </label>
        <label>
            Category:
            <input type="text" name="category" />
        </label>
        <label>
            BeaconMajor:
            <input type="text" name="beaconMajor" />
        </label>
        <label>
            BeaconMinor:
            <input type="text" name="beaconMinor" />
        </label>
    </fieldset>
    <p>
        <input type="submit" value="Add!"/>
    </p>
</form>
